.card-content {
  display: grid;
  grid-template-columns: 50px auto 150px;
  grid-gap: 10px;
}

.content *:first-child {
  margin-top: 0;
}

.content h2 {
  line-height: 1;
}

.content p {
  line-height: 1.5;
}

.meta-fields {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: monospace;
  line-height: 40px;
}

.user {
  border-left: var(--border);
  padding-right: 10px;
  padding-left: 20px;
  font-size: 0.75em;
}

.date {
  text-align: left;
  color: rgba(0, 0, 0, 0.65);
}

h2:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
}

@media screen and (max-width: 400px) {
  .card-content {
    display: flex;
    flex-flow: row wrap;
  }

  .meta-fields {
    width: 20%;
    margin: 0;
    order: 2;
  }

  .content {
    padding: 10px 20px;
    border-bottom: var(--border);
    order: 1;
  }

  .date {
    border-right: var(--border);
  }

  .user {
    width: 80%;
    order: 3;
    margin: 0;
    border: none;
    padding: 10px 0px;
  }
}
