.card-content {
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-gap: 10px;
}

.content *:first-child {
  margin-top: 0;
  line-height: 24px;
}

.meta-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.meta-fields .arrow {
  font-size: medium;
  margin: 0;
}

.arrow:first-of-type {
  color: rgba(48, 179, 48, 0.637);
}

.arrow:last-of-type {
  color: rgba(224, 79, 79, 0.74);
}

.date {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.65);
}

h2:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
}
