.handbook-link {
  display:inline-block;
  font-size: 0.8em;
  color: var(--theme);
  padding: 0 20px 10px;
}
.handbook-link:hover {
  color: var(--theme-light);
}

h4 {
  font: var(--header-3);
}

.tile-header {
  cursor: pointer;
  padding: 20px;
}

.tile-header > * {
  margin:0;
}

.tile-header:hover {
  color: var(--theme);
}